In [2]:
import pandas as pd
import numpy as np
from sklearn import linear_model

In [13]:
#Price dependent on 3 factors, (1.AREA, 2.BEDROOMS, & 3.AGE of home)
df = pd.read_csv(r'C:\Users\Pavlo\Documents\Python Practice Files\homepricez.csv')
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [14]:
#Since there is missing data, I will assign the medium for that NaN
import math
median_bedrooms = math.floor(df.bedrooms.median())
median_bedrooms

4

In [15]:
df.bedrooms = df.bedrooms.fillna(median_bedrooms)
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [16]:
reg = linear_model.LinearRegression()
#Independent variables within the bracket, and the Depended last
reg.fit(df[['area','bedrooms','age']],df.price)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [18]:
#The 'm' part of the formula
reg.coef_

array([  112.06244194, 23388.88007794, -3231.71790863])

In [19]:
#The b part of the formula
reg.intercept_

221323.00186540408

In [26]:
#Predicting the price(dependent) with these dimesions(The independet) 3000 sqr ft, 3 bedrooms, 40 years old 
reg.predict([[3000,3,40]])

array([498408.25158031])

In [27]:
#How did it get that price?
112.06244194*3000 + 23388.88007794*3 + -3231.71790863*40 + 221323.00186540384

498408.25157402386