Goal is to predicted if the passenger survived or not based on the criteria given(Survival Rate)

    Target = Survived
    Inputs = PClass, Sex, Age, Fare

In [10]:
import pandas as pd
df = pd.read_csv(r'C:\Users\Pavlo\Documents\Python Practice Files\titanic.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [11]:
#Dropping useless columns
df.drop(['PassengerId','Name','SibSp','Parch','Ticket','Cabin','Embarked'],axis=1,inplace=True)
df.head()

   Survived  Pclass     Sex   Age     Fare
0         0       3    male  22.0   7.2500
1         1       1  female  38.0  71.2833
2         1       3  female  26.0   7.9250
3         1       1  female  35.0  53.1000
4         0       3    male  35.0   8.0500

In [12]:
inputs = df.drop('Survived',axis=1)
target = df.Survived

Pre-Process. Sex has to be changed into numerical & Age has NaN in data. Fix that.

In [13]:
inputs.Sex = inputs.Sex.map({'male':1,'female':2})

In [14]:
inputs.Age[:10]

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
5     NaN
6    54.0
7     2.0
8    27.0
9    14.0
Name: Age, dtype: float64

In [15]:
inputs.Age = inputs.Age.fillna(inputs.Age.mean())
inputs.head()

   Pclass  Sex   Age     Fare
0       3    1  22.0   7.2500
1       1    2  38.0  71.2833
2       3    2  26.0   7.9250
3       1    2  35.0  53.1000
4       3    1  35.0   8.0500

Model Starts, In this case we are breaking up the data test and train. On the first one we did not, thats why accuracy was 100% in that one.

In [16]:
from sklearn.model_selection import train_test_split

In [17]:
X_train, X_test, y_train, y_test = train_test_split(inputs,target,test_size=0.2)

In [18]:
from sklearn import tree
model = tree.DecisionTreeClassifier()

In [19]:
model.fit(X_train,y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [20]:
model.score(X_test,y_test)

0.770949720670391

In [31]:
#Seeing if a male 23 yearsold with a 3rd ticket class that paid 15.28 surivived.(Fuck no lol)
model.predict([[3,1,23,15.28]])

array([0], dtype=int64)

In [23]:
#Predicing if female, age, pClass 1, with a 71.28 fare survived.(Hell yeah she did)
model.predict([[1,2,38,71.28]])

array([1], dtype=int64)